:root {
  --r-primary: var(--bs-primary);
  --r-secondary: var(--bs-secondary);
  --r-button-text-color: var(--bs-white);
  --r-font-family: 'Inter', sans-serif;
  --r-border-radius: 5px;
  --r-border-color: #0d6efd;
  --r-button-primary-background-hover: #0a58ca;
}

* {
  font-family: var(--r-font-family);
}

.accordion-body img {
  max-width: 1024px;
}
